* {
    margin: 0;
    /* font-family: 'Bad Script', cursive; */
    /* font-family: 'Cinzel', serif; */
    /* font-family: 'East Sea Dokdo', cursive; */
    /* font-family: 'Gaegu', cursive; */
    font-family: 'Lato', sans-serif;
}



h1, h2, h3, h4, h5, h6 {
    font-size: 15px;
    font-family: 'Cinzel', serif;

}

/* font-family: 'Shadows Into Light', cursive; */

body {
    overflow: hidden;
}

.App {
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
}